html{
    height:100%;
}


body {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0) center fixed;
    background-size: cover;
}

header{
    position: absolute;
    margin: 0;
    height: 110px;
    width: 100%;
}

header figure#usm{
    display: inline;
    position: relative;
    float: left;
    width: intrinsic;
}

header figure#usm img{
    width: 70%;
}

header h1{
    display: inline;
    position: absolute;
    right: 200px;
    font-family: Calibri;
    font-size: 42px;
    color: dimgrey;
}

header figure#gym{
    display: inline;
    float:right;
    position: relative;
}

nav{
    position: absolute;
    margin:0;
    top: 120px;
    height: 40px;
    width: 100%;
    background: dimgrey;
}

nav figure#home{
    display: inline;
    position: relative;
    float: left;
    margin: 0;
    top: 8px;
    left: 10px;
}

nav figure#home img{
    width: 60%;
}

nav ul {
    top: 12%;
    left: 5%;
    width: 94%;
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    display: inline;
    color: white;
    padding: 9px 10px;
    text-decoration: none;
    font-family: "Calibri";
}
nav li a{
    font-family: "Calibri";
    color: white;
    text-align: center;
    padding: 14px 5px;
    text-decoration: none;
}

nav li button{
    border: none;
    position: relative;
    background: orange;
    color: white;
    left: 60%;
    padding: 4px;
    z-index: 1;
    font-family: "Calibri";
}

nav li button:hover {
    background-color: deepskyblue;
}

section#title{
    position: absolute;
    display: table;
    width: 100%;
    height: 17%;
    top: 160px;
}

section#title figure{
    left: 15%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    width: intrinsic;
}

section#title figure img{
    width: 70%;
}

section#title h1{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-family: Calibri;
    color: dimgrey;
    font-size: 30pt;
}

section#description{
    position: absolute;
    display: block;
    background: lightgray;
    bottom: 40px;
    width: 100%;
    height: 53%;
}

.tg{
    position: relative;
    table-layout: fixed;
    border-spacing:0;
    left: 5%;
    top: 10%;
}
.tg td {
    font-family: Calibri;
    font-size:14px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    width: 60px;
    text-align: center;
}

.tg th{
    font-family: Calibri;
    font-size:14px;
    font-weight:normal;
    padding: 2px 2px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    width: 60px;
    text-align: center;
}

.tg .tg-4q7z{
    background-color:#3531ff;
}

.tg .tg-w6mb{
    background-color:#333333;
    color:#ffffff;

}
.tg .tg-lnzo{
    background-color:#ffc965;
}

.tg .tg-cxkv{
    background-color:#ffffff;
}

.tg .tg-5fb6{
    background-color:#fe0000;
}

section#description div{
    position: absolute;
    left: 60%;
    top: 10%;
}

section#description figure{
    position: relative;
    display: inline-block;
    margin: 0;
    margin-bottom: 10px;
    margin-right: 20px;
}

section#description p{
    position: relative;
    display: inline-block;
    font-family: Calibri;
    font-size: 20pt;
    color: dimgrey;
}

footer{
    position: absolute;
    background: dimgrey;
    margin: 0;
    padding: 0;
    display: table;
    width: 100%;
    height: 40px;
    bottom: 0%;
}

footer h1{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    color: white;
    font-family: "Calibri";
}





